.midddle_anchor_a_box{
    display: flex;
    width: 100%;
}

.midddle_anchor_box{
    display: flex;
    flex-direction: column;
    background-color: var(--anchor_back_color);
    margin-left: 1.5rem;
    height: 18rem;
    width: 96%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.midddle_anchor_red_box{
    height: 10rem;
    background-color: var(--anchor_red_back_color);
}

.midddle_anchor_a_box_2{
    margin-top: 2rem;
}

.midddle_anchor_href{
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
    width: 6rem;
    height: 6rem;
}

.midddle_anchor_img {
    margin-top: 0.8rem;
    width: 6rem;
    height: 6rem;
}
.midddle_anchor_text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 6rem;
}